* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Gotham", sans-serif;
  display: flex;
}

body .login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

body .login .login-card {
  align-self: center;
  border: 1px solid #e7e7e7;
  padding: 20px;
}
