body {
  font-family: "Nunito", sans-serif;
}

.container {
  /* height: 100vh;  */
  width: 70%;
}

.text-dark {
  color: #383838 !important;
}

.headings-1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 24px;
  border-bottom: 2px solid #888;
  padding-bottom: 5px;
  margin-bottom: 25px;
}

.form-control::-webkit-input-placeholder {
  font-weight: 400;
}

.form-control {
  color: #202020;
  font-weight: 500;
}

#faculty_login_form {
  width: 330px;
}

td.details-control {
  background: url("../images/details_open.png") no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url("../images/details_close.png") no-repeat center center;
}
